
.box {
  border-radius: 6px;
  background: var(--color1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);

  margin: 8%;
  padding:2% ;
}

.title {
  color: #FFF;
  font-size: 45px;
  text-transform: capitalize;

}


.card {
  border: 1px solid var(--color1);
  background-color: #FFF;

  border-radius: 6px;
  padding: 5%;
  overflow: hidden;
}



.imgStyle {
  width: 100%;
  border: 1px solid rgb(215, 215, 215);
}




@media screen and (max-width:1200px) {

  .box {
    margin: 5% 0 ;
    padding: 2%;
  }
  }
  



@media screen and (max-width:1000px) {

  .text{
    font-size: 17px;
  }
}



@media screen and (max-width:650px) {
  .text {
    font-size: 13px;
  }
  
.category {
  font-size: 35px;
}
}